<footer class="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">

          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <img src="/assets/FrontOffice/img/ooredoo.jpg" class="img-fluid" alt="Logo" >
            </div>
            <div class="footer-about-content">
              <p>Achetez votre appareil connecté par facilité jusqu’à 24 mois et ce exclusivement sur eshop ooredoo, en partenariat avec l’UIB !

                Cette offre est valable pour les produits dont le montant d’achat est compris entre 300DT et 1992DT*.
                Un simulateur de crédit est à votre disposition pour calculer votre capacité de remboursement.</p>
            </div>
          </div>

        </div>
        <div class="col-lg-2 col-md-6">

          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Particulier</h2>
            <ul>
              <li>Accueil</li>
              <li>Let's Shop</li>
              <li>Mobile</li>
              <li>DigiFun</li>
              <li> Self-service</li>
            </ul>
          </div>

        </div>
        <div class="col-lg-2 col-md-6">

          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Professionnel</h2>
            <ul>
              <li>Entreprises</li>
              <li>Assistance</li>

            </ul>
          </div>

        </div>
        <div class="col-lg-4 col-md-6">

          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Infos Utiles</h2>

            <div class="footer-contact-info">
              <div class="footer-address">
                <img src="/assets/FrontOffice/img/icon/icon-20.svg" alt class="img-fluid">
                <p>Nous contacter</p>
              </div>
              <p>
                <img src="/assets/FrontOffice/img/icon/icon-19.svg" alt class="img-fluid">
                <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="99fdebfcf8f4eaf5f4ead9fce1f8f4e9f5fcb7faf6f4">Signalement</a>
              </p>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="footer-bottom">
    <div class="container">

      <div class="copyright">
        <div class="row">
          <div class="col-md-6">
            <div class="privacy-policy">
              <ul>
                <li><a href="term-condition.html">Terms</a></li>
                <li><a href="privacy-policy.html">Privacy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="copyright-text">
              <p class="mb-0">&copy; 2023. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</footer>
