

<header class="header header-page">
  <div class="header-fixed">
    <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
      <div class="container">
        <div class="navbar-header">
          <a id="mobile_btn" href="javascript:void(0);">

          </a>
          <a  class="navbar-brand logo" style="margin-top: -40px;">
            <img src="/assets/FrontOffice/img/ooredoo.jpg" class="img-fluid" alt="Logo" >
          </a>
        </div>
        <div class="main-menu-wrapper"    >
          <div class="menu-header">
            <a  class="menu-logo">
              <img src="/assets/FrontOffice/img/logo.svg" class="img-fluid" alt="Logo">
            </a>
            <a id="menu_close" class="menu-close" href="javascript:void(0);">
              <i class="fas fa-times"></i>
            </a>
          </div>
          <ul class="main-nav"   style="margin-top: -40px;">
            <li >
              <a routerLink="/acceuil">Acceuil</a>

            </li>

            <li class="has-submenu active">
              <a >produits<i class="fas fa-chevron-down"></i></a>
              <ul class="submenu first-submenu">
                <li class="has-submenu ">
                  <a routerLink="/acceuil/ajoutproduit">Ajouter produits</a>

                </li>
                <li  class="has-submenu">
                  <a  routerLink="/acceuil/produits">Afficher produits</a>

                </li>

              </ul>
            </li>



          </ul>
        </div>




      </div>
    </nav>
  </div>
</header>


